<!DOCTYPE html>
<html>
    <head>
        <title> Sala invalida </title>
    </head>
    <script>
        confirm("A sala <%= roomId %> não exise")
        window.location.replace("/")
    </script>
</html>