<!DOCTYPE html>
<html>
    <head>
        <title> Pergunta inválida </title>
    </head>
    <script>
        confirm("Pergunta inválida! - Você não pode fazer uma pergunta vazia")
        window.location.replace("/room/<%= roomId %>")
    </script>
</html>